@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
    /*======Main theme colors=====*/
    --first-color: #0e2431;
    --second-color: #6a59d1;
    --third-color: #777;

    /*======Hovers colors=====*/
    --hover-color: #614fd0;
    /*======Background colors=====*/
    --body-bg-color: #fefefe;
    --card-bg-color: #fff;
    --modal-bg-color: #fff;
    --bg-transparent-color: rgba(0, 0, 0, 0.1);
    --transparent-color-01: rgba(0, 0, 0, 0.1);
    --transparent-color-02: rgba(106, 89, 209, 0.1);
    --line-color: #d7d7d7;
    --dark-color: #000;
    --light-color: #fff;
    --hover-color : #614fd0;

    /*======Colors Filter=====*/
    --color-filter: invert(1);

    /*======Box shadow=====*/
    --box-shadoww: 0px 0px 20px rgb(0 0 0 / 10%);

    /*======Font size=====*/
    --small-font-size: 0.9em;
    --normal-font-size: 1em;

    /*======Scroll bar colors=====*/
    --scroll-bar-color: #c5cadf;
    --scroll-thumb-color: #70768a;
    --scroll-thumb-hover-color: #454f6b;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    color: var(--first-color);
    background: var(--body-bg-color);
    margin: 2rem 0 0 0;
    transition: .5s ease;

}

a {
    text-decoration: none;

}

li {
    list-style: none;
}

/*======Scroll to top button=====*/


/*======Light/Dark theme button bar colors=====*/


/*======Scroll bar=====*/
::-webkit-scrollbar {
    width: 10px;
    background: var(--scroll-bar-color);

}

::-webkit-scrollbar-thumb {
    background: var(--scroll-thumb-color);
    border-radius: 2em;

}

::-webkit-scrollbar-thumb:hover {
    background: var(--scroll-thumb-hover-color);
}

/*======Header=====*/
header {
    z-index: 99999;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    backdrop-filter: blur(20px);
    transition: .6 ease;
}

header.sticky {
    background: rgba(255, 255, 255, 0.1);
    box-shadow: var(--box-shadoww);
}

.nav-bar {
    position: relative;
    height: calc(4rem + 1rem);
    max-width: 1250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    transition: .6s ease;
}

header.sticky .nav-bar {
    height: calc(2.5rem + 1rem);
}

.nav-bar .logo {
    color: var(--first-color);
    font-size: 1.3em;
    font-weight: 600;
}

.nav-items a {
    color: var(--first-color);
    font-size: var(--normal-font-size);
    font-weight: 500;
}

.nav-items a:not(:last-child) {
    margin-right: 50px;
}

.nav-items a:hover {
    color: var(--second-color);
}

/*======Home section=====*/
.home {
    position: relative;
    max-width: 1250px;
    min-height: 100vh;
    margin-left: auto;
    margin-right: auto;
    padding: 4rem 2rem;
    flex-direction: column;

}

.home .home-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.home .media-icons {
    display: flex;
    flex-direction: column;
    margin-right: 40px;

}

.home .media-icons a {
    color: var(--second-color);
    font-size: 1.5em;
    margin: 10px 0;
}

.home .media-icons a:hover {
    color: var(--hover-color);
}

.home-container .info h2 {
    font-size: 2.4em;
    font-weight: 600;
    line-height: 70px;
}

.home-container .info h3 {
    color: var(--third-color);
    font-feature-settings: 1.3em;
    font-weight: 600;
    line-height: 50px;
}

.home-container .info p {
    color: var(--third-color);
    font-size: var(--normal-font-size);
    max-width: 400px;
}

.btn {
    background-color: var(--second-color);
    color: #fff;
    font-size: var(--normal-font-size);
    font-weight: 500;
    display: inline-block;
    margin-top: 25px;
    padding: 10px 20px;
    letter-spacing: 1px;
    border-radius: 10px;
}

.btn:hover {
    background-color: var(--hover-color);
    color: #fff;
}

.home-container .home-img {
    position: relative;
}

.home-container .home-img img {
    width: 90%;
    transform: translate(0, 0);
}

.home .scroll-down {
    color: var(--first-color);
    font-size: var(--normal-font-size);
    font-weight: 500;
    margin-top: 20px;

}

.home .scroll-down i {
    color: var(--second-color);
    font-size: 1.2em;
    animation: arrow-down ease 2s infinite;
}

@keyframes arrow-down {
    0% {
        transform: translateY(0);
    }

    30% {
        transform: translateY(10px);
    }

}


/*======Commen styles for all section=====*/
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section {
    position: relative;
    width: 1150px;
    margin-left: auto;
    margin-right: auto;
    padding: 6rem 2rem 2rem;
}

.sub-section {
    position: relative;
    width: 1150px;
    margin-left: auto;
    margin-right: auto;
    padding: 6rem 0;
}

.section-title-01 {
    font-size: 4.5em;
    font-weight: 800;
    margin-bottom: 2rem;
    background: linear-gradient(to top, transparent 0%, var(--first-color) 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: .1;
}

.section-title-02 {
    font-size: 2.5em;
    font-weight: 700;
    transform: translateY(-80px);
}

.section-title-02::before {
    content: '';
    position: absolute;
    width: 70px;
    height: 5px;
    right: 0;
    bottom: 0;
    background: var(--second-color);

}

.container {
    position: relative;
    flex-direction: column;

}

/*======About section=====*/
.about .container .content {
    column-gap: 40px;
    width: 100%;
}

.about-img {
    max-width: 100%;
    min-width: 500px;
    border-radius: 10px;
    height: auto;
    display: block;
}

.about-info .description {
    max-width: 600px;

}

.about .description h3 {
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 10px;
}

.about-info .description h4 {
    font-size: 1.3em;
    font-weight: 600;
    margin-bottom: 10px;
}

.about-info .description h4 span {
    color: var(--second-color);
}

.about-info .description p {
    color: var(--third-color);
    font-size: var(--normal-font-size);
    margin-bottom: 15px;
    padding-bottom: 25px;
    border-bottom: solid 2px var(--line-color);
}

.about-info .professional-list {
    display: flex;
    column-gap: 30px;
}

.about-info .professional-list .list-item h3 {
    font-size: 2.5em;
    font-weight: 700;

}

.about-info .professional-list .list-item span {
    color: var(--third-color);
    font-size: var(--small-font-size);
}

/*======Skills section=====*/
.skills .container .content {
    width: 100%;

}

.skills-description {
    max-width: 700px;
    margin-bottom: 50px;

}

.skills-description h3 {
    font-size: 2em;
    margin-bottom: 5px;
}

.skills-info {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    margin: 0 auto;
}

.skills-info h4 {
    margin-bottom: 20px;
}

.skills-info h4 label {
    background: var(--second-color);
    color: #fff;
    font-size: var(--normal-font-size);
    font-weight: 400;
    padding: 5px 15px;
    border-radius: 5px;
}

.education-all {
    margin-bottom: 80px;

}

.edu-list .item {
    background: var(--card-bg-color);
    box-shadow: var(--box-shadoww);
    border-bottom: 3px solid var(--second-color);
    padding: 20px;
    margin-top: 15px;
    border-radius: 6px;
    transition: .3s ease;

}

.educ-list .item .year {
    font-size: var(--third-color);
    margin-bottom: 5px;

}

.edu-list .item p {
    color: var(--third-color);
    font-size: var(--small-font-size);
}

.edu-list .item p span {
    color: var(--first-color);
    font-size: var(--normal-font-size);
    font-weight: 500;
}

.bar {
    background: var(--card-bg-color);
    box-shadow: var(--box-shadoww);
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 6px;
    transition: .3s ease;
}

.bar .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    font-size: var(--small-font-size);
}

.bar .info span {
    font-weight: 500;
}

.bar .line {
    position: relative;
    width: 100%;
    height: 7px;
    background: #c5cadf;
    border-radius: 2px;
}

.bar .line::before {
    content: '';
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    background: var(--second-color);
    border-radius: 2px;
}

.bar .linux::before {
    width: 95%;
}

.bar .routeur::before {
    width: 75%;
}

.bar .win::before {
    width: 80%;
}

.bar .html::before {
    width: 80%;
}

.bar .bd::before {
    width: 70%;
}

.bar .hyperviseur::before {
    width: 80%;
}

.bar .Firewall::before {
    width: 70%;
}

.bar .reseau::before {
    width: 85%;
}

.experience-card {
    background: var(--card-bg-color);
    border-bottom: 3px solid var(--second-color);
    padding: 35px;
    border-radius: 6px;
    box-shadow: var(--box-shadoww);
    transition: .3s ease;
}

.experience-card h3 {
    font-size: 1.3em;
    font-weight: 700;
}

.experience-card h5 {
    font-size: var(--small-font-size);
    font-weight: 500;
    font-style: italic;
}

.experience-card span {
    color: var(--third-color);

}

.experience-card .hr {
    width: 100%;
    height: 2px;
    background: var(--line-color);
    margin: 10px 0 22px;
}

.edu-list .item:hover,
.bar:hover,
.experience-card:hover {
    transform: scale(1.03);
}


/*======Service section=====*/
.services .container .content {
    width: 100%;
}

.services-description h3 {
    font-size: 1.2em;
    margin-bottom: 50px;
}

.service-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    max-width: 100%;
    margin: 0 auto;
    gap: 20px;
}

.service-card {
    background: var(--card-bg-color);
    border-bottom: 3px solid var(--second-color);
    box-shadow: var(--box-shadoww);
    padding: 20px;
    border-radius: 6px;
    transition: .3s ease;
}

.service-card>i {
    color: var(--second-color);
    font-size: 3em;
    margin-bottom: 30px;
}

.service-card h3 {
    font-size: 1.5em;
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 20px;
}

.service-card .learn-more-btn {
    color: var(--third-color);
    cursor: pointer;
    transition: .3s ease;
}

.service-card .learn-more-btn i {
    transition: .3s ease;

}

.service-card:hover .learn-more-btn i {
    color: var(--second-color);
    transform: translateX(10px);
}
.service-card:hover {
    transform: scale(1.03);
}
.service-modal {
    z-index: 9999;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: var(--bg-transparent-color);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}
.service-modal.active {
    visibility: visible;
    opacity: 1;
}
.service-modal-body {
    position: relative;
    background: var(--modal-bg-color);
    max-width: 800px;
    margin: 20px auto;
    width: 90%;
    padding: 40px;
    border-radius: 10px;
    box-shadow: var(--box-shadoww);
    transform: translateY(-50px);
    transition: .5s ease;
}
.service-modal.active .service-modal-body {
    transform: translate(0);
}
.service-modal-body .modal-close-btn {
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;
    cursor: pointer;
}
.service-modal-body h3 {
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 20px;
}
.service-modal-body h4 {
    font-size: 1.5em;
    font-weight: 600;
    margin: 15px 0 10px;
    color: var(--second-color);
} 
.service-modal-body p {
    color: var(--third-color);
    font-size: var(--normal-font-size);
    margin-bottom: 20px;
}
.service-modal-body ul {
    padding-left: 20px;
    color: var(--third-color);
    font-size: var(--normal-font-size);
}
.service-modal-body ul li {
    margin-bottom: 10px;
}
.service-modal-body ul li i {
    color: var(--second-color);
    margin-right: 10px;
}



/*======Portfolio section=====*/

.portfolio-description h3 {
    font-size: 1.2em;
    margin-bottom: 50px;
}
.portfolio-description p {
    color: var(--third-color);
    font-size: var(--normal-font-size);
    margin-bottom: 20px;
}
.portfolio-tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 20px;
    margin-bottom: 85px;
}
.portfolio-tabs .tab-btn {
    color: var(--first-color);
    font-size: var(--normal-font-size);
    font-weight: var(--small-font-size);
    padding: 12px 0 ;
    border-radius: 25px;
    cursor: pointer;
    transition: .3s ease;
}
.portfolio-tabs .tab-btn:hover {
    background: var(--hover-color);
    padding: 12px 25px;
}

.portfolio-tabs .tab-btn.active {
    color:var(--dark-color);
    background: var(--second-color);
    padding: 12px 25px;
}
.portfolio-tabs .tab-btn.active:hover {
    background: var(--hover-color);
    color: var(--light-color);
}
.portfolio-container {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 50px;
    row-gap: 50px;
    
}
.portfolio-container .card-with-modal{
    display: block;
}
.portfolio-container .card-with-modal.hidden {
    display: none;
    opacity: 0;
    pointer-events: none;
}
.portfolio-card {
    position: relative;
    background: var(--transparent-color-02); ;
    width: 350px;
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
    box-shadow: var(--box-shadoww);
    transition: .3s ease;
}
.portfolio-card .card-img {
    width: 100%;
    height: 200px;
    overflow: hidden;
}
.portfolio-card .card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .3s ease;
}
.portfolio-card:hover .card-img img {
    transform: scale(1.1);
}
.portfolio-card .card-info {
    position: relative;
    padding: 20px;
}
.portfolio-card .card-info h4 {
    color: var(--first-color);
    font-size: 1em;
    font-weight: 500;
    margin-top: 10px;
}
.portfolio-card .card-info span {
    color: var(--second-color);
    font-size: var(--normal-font-size);
    font-weight: 700;
    text-transform: uppercase;
}
.portfolio-card .card-info i{
    position: absolute;
    right: 20px;
    bottom: 20px;
    margin: 3px 0;
    color: var(--third-color);
    font-size: 1.5em;
    transform: scale(0);
    transition: .3s ease;
}
.portfolio-card:hover {
    transform: scale(1.05);
}
.portfolio-card:hover .card-info i{
    transform: scale(1);
    color: var(--second-color);
    
}
/* portfolio-modal-backdrop */
.portfolio-modal-backdrop {
    z-index: 9998;
    position: fixed;
    background: var(--bg-transparent-color);
    backdrop-filter: blur(10px);
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    overflow-y: auto;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.3s ease ;
}
.portfolio-modal-backdrop.active {
    opacity: 1;
    visibility: visible;
}
.portfolio-modal-backdrop::-webkit-scrollbar {
    background: var(--scroll-bar-color);
    width: 8px;
    border-radius: 5px;
}
.portfolio-modal-backdrop::-webkit-scrollbar-thumb {
    background: var(--scroll-thumb-color);
    border-radius: 5px;
}
.portfolio-modal-backdrop::-webkit-scrollbar-thumb:hover {
    background: var(--scroll-thumb-hover-color);
}

.portfolio-modal{
    position: relative;
    background: var(--modal-bg-color);
    max-width: 900px;
    height: fit-content;
    width: 90%;
    margin: 75px 25px;
    padding: 50px 45px;
    border-radius: 10px;
    box-shadow: var(--box-shadoww);
    transform: scale(0.8);
    transition: transform .3s ease,opacity .3s ease;
}
.portfolio-modal-backdrop.active .portfolio-modal {
    transform: scale(1);
    opacity: 1;
}
.portfolio-modal .modal-content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    row-gap: 25px;
}
.portfolio-modal .modal-img{
    width: 80%;
}
.portfolio-modal .modal-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.portfolio-modal .modal-close-btn {
    position: absolute;
    top: 30px;
    right: 20px;
    cursor: pointer;
}
.portfolio-modal .modal-close-btn i {
    color: var(--first-color);
    font-size: 1.5em;
}
.portfolio-modal .modal-close-btn:hover i {
    color: var(--second-color);
}
.portfolio-modal .modal-title {
    font-size: 2em;
    font-weight: 600;
    color: var(--first-color);
}
.portfolio-modal .modal-description {
    color: var(--third-color);
    font-size: var(--normal-font-size);
    margin-bottom: 20px;
}
.portfolio-modal .modal-links {
    display: flex;
    justify-content: center;
    column-gap: 20px;
}
.portfolio-modal .modal-links a {
    color: var(--second-color);
    font-size: 1.2em;
    font-weight: 500;
    transition: .3s ease;
    background: var(--transparent-color-01);
    padding: 10px 20px;
    border-radius: 5px;
}
.portfolio-modal .modal-links a:hover {
    color: var(--hover-color);
    background: var(--transparent-color-02);
}
/*======Contact section=====*/



/*======Get-in-touch=====*/

/*======Our  Clients=====*/


/*======Scroll bar colors=====*/


/*======Scroll bar colors=====*/

